<!DOCTYPE html>
<html>
<head>
    <title>Vue App</title>
    <script src="https://unpkg.com/vue"></script>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
crossorigin="anonymous"></script>

</head>
<body>
<div class="container">
    <div id="app" class="center">
        <counter v-bind:add-num="10"></counter>
    </div>
    <script>

        // counter component, 2 parameters(name, options(must be a function))
        var counter = Vue.component('counter', {
            template: `
                <div>
                    <div>Count: {{ this.count }}</div>
                    <button class="vue-btn" @click="increment">Increment by {{ this.addNum }}</button>
                </div>
            `,
            props: {
                addNum: {
                    type: Number,
                    default: 1
                }
            },
            data() {
                return {
                    count: 0
                }
            },
            methods: {
                increment() {
                    this.count += this.addNum
                }
            }
        })

        var app = new Vue({
            el: '#app',
            components: {
                counter
            }
        })
    </script>
</div>
</body>
</html>
